---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apim.hedinit.io
  resources:
  - ingresswatchers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apim.hedinit.io
  resources:
  - ingresswatchers/finalizers
  verbs:
  - update
- apiGroups:
  - apim.hedinit.io
  resources:
  - ingresswatchers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
