---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: importapis.apim.hedinit.io
spec:
  group: apim.hedinit.io
  names:
    kind: ImportAPI
    listKind: ImportAPIList
    plural: importapis
    singular: importapi
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: ImportAPI is the Schema for the importapis API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ImportAPISpec defines the desired state of ImportAPI.
            properties:
              APIID:
                description: Foo is an example field of ImportAPI. Edit importapi_types.go
                  to remove/update
                type: string
              openApiDefinitionUrl:
                type: string
              routePrefix:
                type: string
            required:
            - APIID
            - openApiDefinitionUrl
            - routePrefix
            type: object
          status:
            description: ImportAPIStatus defines the observed state of ImportAPI.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
