---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: apimapipatches.apim.hedinit.io
spec:
  group: apim.hedinit.io
  names:
    kind: APIMAPIPatch
    listKind: APIMAPIPatchList
    plural: apimapipatches
    singular: apimapipatch
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: APIMAPIPatch is the Schema for the apimapipatches API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: APIMAPIPatchSpec defines the desired state of APIMAPIPatch.
            properties:
              APIID:
                description: Foo is an example field of APIMAPIPatch. Edit apimapipatch_types.go
                  to remove/update
                type: string
              serviceUrl:
                type: string
            required:
            - APIID
            - serviceUrl
            type: object
          status:
            description: APIMAPIPatchStatus defines the observed state of APIMAPIPatch.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
