---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: apimapis.apim.hedinit.io
spec:
  group: apim.hedinit.io
  names:
    kind: APIMAPI
    listKind: APIMAPIList
    plural: apimapis
    singular: apimapi
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: APIMAPI is the Schema for the apimapis API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: APIMAPISpec defines the desired state of APIMAPI
            properties:
              apimService:
                type: string
              host:
                type: string
              resourceGroup:
                type: string
              revision:
                type: string
              routePrefix:
                type: string
              subscription:
                type: string
              swaggerPath:
                type: string
            required:
            - apimService
            - host
            - resourceGroup
            - routePrefix
            - subscription
            - swaggerPath
            type: object
          status:
            properties:
              importedAt:
                type: string
              swaggerStatus:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
