---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: apimapideployments.apim.hedinit.io
spec:
  group: apim.hedinit.io
  names:
    kind: APIMAPIDeployment
    listKind: APIMAPIDeploymentList
    plural: apimapideployments
    singular: apimapideployment
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: APIMAPIDeployment is the Schema for the APIMAPIDeployments API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: APIMAPIDeploymentSpec defines the desired state of APIMAPIDeployment
            properties:
              APIID:
                type: string
              apimService:
                type: string
              openAPIDefinitionURL:
                type: string
              resourceGroup:
                type: string
              revision:
                type: string
              routePrefix:
                type: string
              serviceURL:
                type: string
              subscription:
                type: string
            required:
            - APIID
            - apimService
            - openAPIDefinitionURL
            - resourceGroup
            - routePrefix
            - serviceURL
            - subscription
            type: object
          status:
            properties:
              importedAt:
                type: string
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
