---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: apimservices.apim.operator.io
spec:
  group: apim.operator.io
  names:
    kind: APIMService
    listKind: APIMServiceList
    plural: apimservices
    singular: apimservice
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: APIMService is the Schema for the apimservices API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              APIMServiceSpec defines the desired state of APIMService.
              This spec contains the Azure subscription and resource group information needed
              to identify and connect to an Azure API Management service instance.
            properties:
              name:
                description: Name is the name of the Azure API Management service
                  instance in Azure.
                type: string
              resourceGroup:
                description: ResourceGroup is the Azure resource group where the APIM
                  service is located.
                type: string
              subscription:
                description: Subscription is the Azure subscription ID where the APIM
                  service is deployed.
                type: string
            required:
            - name
            - resourceGroup
            - subscription
            type: object
          status:
            description: |-
              APIMServiceStatus defines the observed state of APIMService.
              This status reflects information about the APIM service that was retrieved from Azure.
            properties:
              host:
                description: Host is the hostname of the APIM service (e.g., "myapim.azure-api.net").
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
